<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
	<!-- 最新版本的 Bootstrap 核心 jquery 文件 -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- 最新版本的 Bootstrap 核心 字体库 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous">
	</script>
</head>
<body style="background: #bbbbbb">


<div class="container"  style="margin-top: 10%;width: 30%;">
	 <form action="" method="POST" class="form-horizontal" role="form">
	     <div class="form-group">
	     	<label for="name" class="col-sm-2" control-label">原密码:</label>
	     	<div class="col-sm-10">
	     		<input type="text" name="username" id="inputID" class="form-control" value="" title="" required="required" >
	     	</div>
	     </div>
		 <div class="form-group">
			 <label for="name" class="col-sm-2" control-label">新密码:</label>
			 <div class="col-sm-10">
				 <input type="text" name="password" id="inputID" class="form-control" value="" title="" required="required" >
			 </div>
		 </div>
		 <div class="form-group">
			 <label for="name" class="col-sm-2" control-label">确认密码:</label>
			 <div class="col-sm-10">
				 <input type="text" name="qrpass" id="inputID" class="form-control" value="" title="" required="required" ><br>
			 </div>
		 </div>
		 <div class="form-group">
	         <div class="col-sm-10 col-sm-offset-2">
	             <button type="submit" class="btn btn-primary btn-block">保存</button>
	         </div>
	     </div>
	 </form>
</div>







</body>
</html>