<?php include './layout/head.html'?>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
         <div class="panel panel-default">
         	  <div class="panel-heading">
         			<h3 class="panel-title">班级列表</h3>
         	  </div>
			 <br>

			 <ul class="nav nav-tabs" role="tablist">
                 <li class="active"><a href="?s=admin/grade/index">列表</a></li>
                 <li><a href="?s=admin/grade/create">添加/编辑</a></li>
             </ul>
			 <br>
             <div class="panel-body">
         			<table class="table table-hover">
         				<thead>
         					<tr>
                                <th>ID</th>
                                <th>班级名称</th>
                                <th>学生人数</th>
                                <th>操作</th>
         					</tr>
         				</thead>
         				<tbody>
						<?php  foreach( $data as $v) : ?>
         					<tr>
								<td><?php echo $v['ids'] ?></td>
								<td><?php echo $v['gname'] ?></td>
								<td><?php echo $v['num'] ?>人</td>
								<td>
									<a href="?s=admin/grade/edit&id=<?php echo $v['ids'] ?>" class="btn btn-success">编辑</a>
									<a href="javascript:;" onclick="del(<?php echo $v['ids'] ?>)" class="btn btn-default">删除</a>

								</td>
         					</tr>
						<?php endforeach; ?>
						</tbody>
         			</table>
				 <script>
					 function del(id) {
                         if (confirm('确定删除吗')) {
                             location.href='?s=admin/grade/delete&id='+id
                         }
                     }
				 </script>
         	  </div>
         </div>
        </div>
    </div>
</div>

</body>
</html>